<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="LiveBus.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png">
    <HeadOutlet />
</head>

<body>
    <ErrorBoundary @ref="errorBoundary">
        <ChildContent>
            <Routes />
        </ChildContent>
        <ErrorContent>
            <p class="alert alert-danger">Ha ocurrido un error en la aplicación. Por favor, <a href="" class="reload">recarga la página</a> o contacta con soporte si el problema persiste.</p>
        </ErrorContent>
    </ErrorBoundary>
    <script src="_framework/blazor.server.js"></script>
</body>

</html>

@code {
    private ErrorBoundary errorBoundary;

    protected override void OnParametersSet()
    {
        errorBoundary?.Recover();
    }
   }
